/* Text Colors */
.text-primary {
  color: #28a
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #28a;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  background: #FFB6C1;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-secondary {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  background: #FF69B4;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-light {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  background: #e1f2f9;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-dark {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  background: #399a99;
  color: #fff;
  border: none;
  border-radius: 5px;
}
